@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    color: #555;
}

option:disabled{
    color: #ff0202;
}

a{
    font-style: normal !important;
    text-decoration: none !important;
    color: inherit !important;
}

label{
    font-size: 0.9em !important;
    color: #777 !important;
}

select{
    padding: 1.1rem 0 1.1rem 1.1rem !important;
    font-size: .9rem !important;
}

.list-group-item div,.list-group-item div i{
    position: relative;
    float: left;
}

.btns-delete{
    text-align: center;
}

.container-locations{
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    list-style: none;
    margin-left: 0.1% !important;
    padding: 10px 0;
    font-size: 0.9em;
}

.list-locations li{
    list-style: none !important;
    display: table;
    border-radius: 5px;
    position: relative;
    float: left;
    margin-right: 5px;
}

.list-locations span, .list-locations p{
    position: relative;
    float: left;
    padding: 5px 8px;
}

.list-locations span{
    background-color: #FF0000;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.list-locations p{
    margin: 0 !important;
    background-color: #3A88CC;
    color: #FFFFFF;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.list-locations{
    padding: 0;
}